<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lewandowska Beauty - {{pageTitle}}</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="lang">
      <a href="/" class="lang__link">PL</a> |
      <a href="/en" class="lang__link">EN</a>
    </div>
    <div class="header">
      <div class="logo-box">
        <a href="{{homeUrl}}"
          ><img src="/images/logo.png" alt="Lewandowska Beauty" class="logo"
        /></a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          {{links}}
        </ul>
        <ul class="social">
          {{social}}
        </ul>
      </nav>
    </div>
    <div class="content">
      {{content}}
    </div>
    <footer class="footer">
      <hr />
      <p class="footer__copyright">
        2020 © Magdalena Lewandowska BEAUTY
      </p>
    </footer>
  </body>
</html>
